@import "reset.css";
/* Elusive Icons */
@import "../fonts/elusive-icons-2.0.0/css/elusive-icons.min.css";
html,
body {
  color: #404040;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  background-color: #2c8ec9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  color: white;
  font-size: 2em;
  height: 2em;
  padding: 0 0.5em;
}
#header #title {
  font-weight: bold;
  height: 1em;
  margin: 0 auto;
  padding-top: 0.4em;
  vertical-align: middle;
}
#content {
  margin: 0 auto;
}
#content #file-list table {
  text-align: left;
  width: 100%;
}
#content #file-list table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#content #file-list table tr.file:hover {
  background-color: #E0F7FF;
}
#content #file-list table tr.file a {
  color: inherit;
  display: block;
  font-weight: inherit;
  padding: 1.5em;
  text-decoration: inherit;
}
#content #file-list table tr.file td:first-child > a::before {
  content: "\f19e";
  font-family: "Elusive-Icons";
  font-size: 2em;
  margin-right: 0.5em;
  vertical-align: middle;
}
#content #file-list table tr td {
  line-height: 1em;
}
#checklist > h1 {
  background-color: #2c8ec9;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}
#checklist strong {
  font-weight: bold;
}
#checklist em {
  font-style: italic;
}
#checklist > ol li,
#checklist > ul li {
  border-top: 0.125em solid white;
}
#checklist > ol li.odd,
#checklist > ul li.odd {
  background: #C4F0FF;
}
#checklist > ol li.even,
#checklist > ul li.even {
  background: #E0F7FF;
}
#checklist > ol li div,
#checklist > ul li div {
  line-height: 1.25em;
  padding: 1em;
}
#checklist > ol li div::before,
#checklist > ul li div::before {
  border: 1px solid black;
  content: "";
  display: inline-block;
  font-size: 1.25em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 1em;
}
#checklist > ol li div span,
#checklist > ul li div span {
  vertical-align: middle;
}
#checklist > ol li div.depth-1,
#checklist > ul li div.depth-1 {
  padding-left: 1em;
}
#checklist > ol li div.depth-2,
#checklist > ul li div.depth-2 {
  padding-left: 2.75em;
}
#checklist > ol li div.depth-3,
#checklist > ul li div.depth-3 {
  padding-left: 4.5em;
}
#checklist > ol li div.depth-4,
#checklist > ul li div.depth-4 {
  padding-left: 6.25em;
}
#checklist > ol li div.depth-5,
#checklist > ul li div.depth-5 {
  padding-left: 8em;
}
#checklist .citations {
  background-color: #2c8ec9;
  color: white;
  padding: 1em;
}
#checklist .citations::before {
  content: "Sources: ";
  display: inline-block;
  font-size: 1.25em;
  padding-bottom: 0.5em;
}
#checklist .citations ol,
#checklist .citations ul {
  list-style: decimal inside none;
}
#checklist .citations ol li,
#checklist .citations ul li {
  line-height: 1.25em;
  padding: 0.5em 0;
}
#checklist .citations ol li a,
#checklist .citations ul li a {
  color: white;
}
@page {
  margin: 0;
}
@media print {
  .citations {
    display: none !important;
  }
}
i.alert {
  color: #ec6173;
  font-weight: bold;
}
