<html>
  <head>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/marked/marked.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <script type="text/javascript">
      window.MARKDOWN = "{{ markdown|safe }}"
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#checklist').html(marked(MARKDOWN))
        $.each($('#checklist > ol li, #checklist > ul li'), function (index, elemi) {
          var elemi = $(elemi)
          var color_cls = 'even'
          if (index % 2 === 0) {
            color_cls = 'odd'
          }
          elemi.addClass(color_cls)
          var depth_cls = 'depth-' + elemi.parents('ol, ul').length
          // Insert divs around this step's text
          var not_sublists = elemi.contents().not(function () {
            return this.nodeName === 'OL' || this.nodeName === 'UL'
          })
          not_sublists.wrapAll('<div class="' + depth_cls + '"><span></span></div>');
        })
      })
    </script>
    <div id="checklist"></div> 
  </body>
</html>
